@{
    ViewData["Title"] = "New Dish Page";
}

@model Dish
<div class="text-center">
    <h1 class="display-4">Add a new dish!</h1>
</div>
<div class="row">
    <div class="col-8 offset-2">
        <form asp-action="Create" asp-controller="Home" method="post">
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label">Dish Name</label>
                <div class="col-10">
                    <input type="text" asp-for="Name" placeholder="Dish Name" class="form-control">
                    <span asp-validation-for="Name"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Chef" class="col-sm-2 col-form-label">Chef's Name</label>
                <div class="col-10">
                    <input type="text" asp-for="Chef" placeholder="Chef's Name" class="form-control">
                    <span asp-validation-for="Chef"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="form-group row">
                        <label asp-for="Calories" class="col-sm-3 col-form-label">Calories</label>
                        <div class="col-9">
                            <input type="number" asp-for="Calories" placeholder="Total Calories" class="form-control">
                            <span asp-validation-for="Calories"></span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group row">
                        <label asp-for="Tastiness" class="col-sm-5 col-form-label">Tastiness</label>
                        <div class="col-7">
                            <select asp-for="Tastiness" class ="form-control">
                                <option value="" selected disabled>Select...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                            <span asp-validation-for="Tastiness"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-sm-2 col-form-label">Description</label>
                <div class="col-10">
                    <textarea asp-for="Description" rows="4" class="form-control" placeholder="Add a description..."></textarea>
                    <span asp-validtion-for="Description"></span>
                </div>
            </div>
            <div class="row justify-content-center">
                <input type="submit" class ="btn btn-outline-success" value ="+Dish">
            </div>
        </form>
    </div>
</div>